*{margin:0;padding:0}
.cf:after{content:"";display:block;clear:both}
.cf2:after{display:inline-block}
a:link,a:visited{color:#4d90fe}
a:hover,a:active,ul a:link,ul a:visited{color:#292929}
body{position:relative;width:670px;margin:22px auto;font-family:'Roboto',sans-serif;font-weight:400;font-size:14px;color:#292929}
h1{position:relative;text-align:center;font-family:'Roboto',sans-serif;font-weight:100;font-size:87px;line-height:90px;color:#fff;margin-bottom:20px}
section{background:#fff;width:600px;padding:22px}
section,ul{box-shadow:0 5px 2px -2px rgba(100,100,100,.4);margin:15px auto;position:relative}
ul{border:2px solid #fff;height:40px;width:640px}
li{display:inline}
li a{text-decoration:none;font-size:16px;line-height:40px;width:160px;display:inline-block;text-align:center;background-color:#fff;transition:background-color .5s linear}
li.active a,li:hover a{background-color:rgba(0,0,0,0);color:#fff}
h2,h3{font-weight:400;margin-bottom:15px}
h2{font-size:20px}
h3{font-size:18px}
dt,dd{float:left;line-height:16px;margin-bottom:8px}
dl{width:600px}
dt{width:150px}
dd{width:450px}
p:not(:last-child){margin-bottom:10px}
.error{display:block;color:#ed1c24;margin:10px 0}
.button{width:60px}
.warning{color:#fff}
.titlecard{margin-bottom:0}
.valign{vertical-align:middle}
.largelink{font-size:18px;text-decoration:none}
.image{position:relative;width:100%}
.image a{display:block;margin:0 13px}
.image img{display:block;box-shadow:0 5px 2px -2px rgba(100,100,100,.4);}
img{border:0}
input.button{font-size:16px;width:100px;padding:5px 20px;background:#4d90fe;color:#fff;border:0}
textarea.form{height:auto}
.form{display:block;width:90%;max-width:350px;height:24px;padding:6px 12px;margin-bottom:10px;line-height:1.4;color:#555;vertical-align:middle;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.form:focus{border-color:#4d90fe;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(77,144,254,.6)}
::-webkit-scrollbar{width:8px;height:0}
::-webkit-scrollbar-thumb{background:#4d90fe}
@media(max-device-width:600px),(max-width:660px){
body{width:94%}
h1{font-size:70px;line-height:75px}
section{width:100%;padding:15px}
ul{width:100%}
li a{width:25%;line-height:38px}
dl{width:100%}
dt{width:25%}
dd{width:75%}
img{max-width:100%;height:auto}
.image a{margin:0}
section,ul,li a{box-sizing:border-box}}
@media(max-device-width:300px),(max-width:400px){
h1{font-size:60px;line-height:65px}
ul{height:162px}
li{display:block}
li a{width:100%;padding-left:0;text-align:center;line-height:40px}}